.button-select-container {
    display: inline-flex;
}

.object-combo {
    width: 1200px;
}

.create-button {
    width: 25%;
    margin-top: 1.7%;
}

.first-container {
    background-color: bisque;
}

.recordclass {
    margin-left: 8%;

}

.first {
    float: left;
    width: 25%;
}

.second {
    float: right;
    width: 75%;
}